@import url('../../../shared/common.module.css');

.heading {
  margin: 1.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--secondary-foreground-color);
}

@media (min-width: 768px) {
  .heading {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.formControl {
  display: flex;
  flex-direction: column;
}

.container {
  margin-bottom: 1rem /* 16px */;
  display: flex;
  align-items: center;
}

.selectSSO {
  float: left;
  margin-right: 0.5rem /* 8px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}

.idpId {
  margin: 20px 0 20px 0;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px 0 0;
  cursor: pointer;
  padding: 8px 4px 8px 4px;
}

.span {
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
}

.radio {
  flex-shrink: 0;
  cursor: pointer;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: var(--primary-color);
  height: 1.5rem /* 24px */;
  width: 1.5rem /* 24px */;
  border: 1px solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075rem);
  display: grid;
  place-content: center;
}

.radio:focus,
.radio:checked {
  animation: radiomark 0.2s ease-out;
  background-color: var(--primary-color);
  box-shadow:
    0 0 0 4px var(--ring-offset-color) inset,
    0 0 0 4px var(--ring-offset-color) inset;
}

.radio:focus-visible {
  outline: var(--primary-color) solid var(--ring-offset-width, 2px);
  outline-offset: var(--ring-offset-width, 2px);
}
