.formControl {
  display: flex;
  flex-direction: column;
}

.container {
  margin-bottom: 1rem /* 16px */;
  display: flex;
  align-items: center;
}

.containerWidth {
  display: flex;
  width: 13rem /* 208px */;
}

.selectSSO {
  margin-right: 0.5rem /* 8px */;
  padding-top: 0.75rem /* 12px */;
  padding-bottom: 0.75rem /* 12px */;
}

.idpId {
  margin: 20px 0 20px 0;
  align-items: center;
  justify-content: space-between;
}

.label {
  display: flex;
  user-select: none;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px 0 0;
  cursor: pointer;
  padding: 8px 4px 8px 4px;
}

.btm-nav > * .label {
  font-size: 16px;
  line-height: 24px;
}
.label a:hover {
  --tw-text-opacity: 1;
  color: hsl(var(--bc) / var(--tw-text-opacity));
}

.span {
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
  --tw-text-opacity: 1;
  color: hsl(var(--bc) / var(--tw-text-opacity));
}

.radio {
  flex-shrink: 0;
  --chkbg: var(--bc);
  height: 1.5rem /* 24px */;
  width: 1.5rem /* 24px */;
  cursor: pointer;
  appearance: none;
  border-radius: 9999px;
  border-width: 1px;
  border-color: hsl(var(--bc) / var(--tw-border-opacity));
  --tw-border-opacity: 0.2;
  transition: background, box-shadow var(--animation-input, 0.2s) ease-in-out;
}

.radio:focus-visible {
  outline: 2px solid hsl(var(--bc));
  outline-offset: 2px;
}
.radio:checked,
.radio[aria-checked='true'] {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--bc) / var(--tw-bg-opacity));
  animation: radiomark var(--animation-input, 0.2s) ease-in-out;
  box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset;
}

.radio:checked,
.radio[aria-checked='true'] {
  --tw-bg-opacity: 1;
  background-color: hsl(var(--bc) / var(--tw-bg-opacity));
  animation: radiomark var(--animation-input, 0.2s) ease-in-out;
  box-shadow: 0 0 0 4px hsl(var(--b1)) inset, 0 0 0 4px hsl(var(--b1)) inset;
}
.radio:disabled {
  cursor: not-allowed;
  opacity: 0.2;
}

.h2 {
  margin: 20px 0 20px 0;
  --tw-text-opacity: 1;
  font-weight: 700;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

:is(.h2) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .h2 {
    font-size: 1.25rem /* 20px */;
    line-height: 1.75rem /* 28px */;
  }
}
