.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.h5 {
  letter-spacing: 0.025em;
  line-height: 1.25rem;
  font-weight: 600;
  font-size: 1.25rem;
}

.ctoa {
  display: flex;
  justify-content: flex-end;
}

.listView {
  display: flex;
  flex-direction: column;
}

.heading {
  margin: 0 0 1.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-text-color);
}

@media (min-width: 768px) {
  .heading {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}
