@import url('../common.module.css');

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toolbar > div {
  display: flex;
  padding: 0.5rem 0;
}

.label {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: rgb(17 24 39);
  padding: 0.5rem 0;
}

.input {
  height: 3rem;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 2;
  line-height: 1.5rem;
  border: 1px solid var(--border-color);
  background-color: #fff;
  border-radius: var(--border-radius);
}

.input:focus-visible {
  border-color: var(--secondary-color);
  outline: 2px solid var(--primary-color-700);
  outline-offset: 2px;
}
