@import url('../common.module.css');

.container {
  display: flex;
  flex-direction: column;
}

.input {
  height: 3rem;
  padding: 0 1rem;
  font-size: 1rem;
}

.label {
  display: block;
  font-weight: 500;
  color: var(--primary-text-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
