@import url('../../../shared/common.module.css');

.heading {
  margin: 0 0 1.5rem 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--primary-text-color);
}

@media (min-width: 768px) {
  .heading {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
}

.fieldContainer {
  display: flex;
  flex-direction: column;
}

.label {
  display: block;
  font-weight: 500;
  color: var(--primary-text-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
}

.input {
  height: 3rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 2;
  line-height: 1.5rem;
  border: 1px solid var(--border-color);
  background-color: #fff;
  border-radius: var(--border-radius);
}

.input:focus {
  outline: var(--ring-offset-width) solid var(--ring-offset-color);
  outline-offset: var(--ring-offset);
}

.input:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.input:disabled {
  background-color: var(--secondary-color);
  border: 1px solid transparent;
}

.formAction {
  display: flex;
  gap: 0.5rem;
}
