.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.heading {
  color: white;
  background-color: red;
  padding: 10px 5px;
  margin: 7px;
}

.alohaa {
  background-color: blue;
}

.toggle {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.displayMessage {
  display: flex;
  align-items: center;
}

.cancelBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  text-align: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  color: black;
  border: 1px solid black;
  margin: 2px 5px;
  border-radius: 5px;
  font-weight: 600;
}

.confirmBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(241, 97, 97);
  color: white;
  text-align: center;
  gap: 0.5rem;
  padding: 0.2rem 0.5rem;
  margin: 2px 5px;
  border-radius: 5px;
  font-weight: 600;
}
