@import url('../../../../shared/common.module.css');
@import url('../../../../shared/inputs/index.module.css');
.container {
  min-width: 448px;
  background-color: white;
}

.formDiv {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.headingContainer {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headingContainer > :last-child {
  margin-left: auto;
}

.heading {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  color: rgb(55 65 81);
}

.section {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-radius: 4px;
  padding: 24px;
  color: rgb(127 29 29);
  border: 1px solid rgb(254 226 226);
  background-color: rgb(254 226 226);
  margin-top: 40px;
}

.info input,
.info pre {
  background: var(--primary-color-50);
  color: var(--primary-color-800);
}

.sectionHeading {
  margin-bottom: 4px;
  font-weight: 500;
}

.sectionPara {
  font-weight: 300;
}

.confirmationDiv {
  width: 50%;
}

.hint {
  font-size: 0.75rem;
  line-height: 2rem;
}

.promptAction {
  display: flex;
  gap: 0.5rem;
}
