.container {
  min-width: 448px;
  background-color: white;
}

.formDiv {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.fieldsContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
}

.fieldsDiv {
  width: 100%;
  border: 1.5px solid rgb(229 231 235);
  border-radius: 4px;
  padding: 24px 16px;
}

.field {
  margin-bottom: 24px;
}

.label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
  color: rgb(17 24 39);
  font-size: 14px;
  line-height: 20px;
}

.labelDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  width: 100%;
  border: 1px solid rgba(24, 26, 42, 0.2);
  padding: 8px 16px;
  height: 48px;
  line-height: 24px;
  border-radius: 4px;
  flex-shrink: 1;
}

.textarea {
  width: 100%;
  height: 96px;
  border: 1px solid rgba(24, 26, 42, 0.2);
  min-height: 48px;
  padding: 8px 16px;
  white-space: pre;
}

.section {
  display: flex;
  align-items: start;
  border-radius: 4px;
  padding: 24px;
  color: rgb(127 29 29);
  border: 1px solid rgb(254 226 226);
  background-color: rgb(254 226 226);
  margin-top: 40px;
}

.sectionHeading {
  margin-bottom: 4px;
  font-weight: 500;
}

.sectionDiv {
  flex: 1 1 0%;
}

.sectionPara {
  font-weight: 300;
}

.confirmationDiv {
  width: 50%;
}

.saveDiv {
  display: flex;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.saveBtn {
  color: white;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  text-align: center;
  border-radius: 4px;
  background-color: rgb(54, 211, 153);
  border: 1px solid rgb(54, 211, 153);
  padding: 0px 16px;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  line-height: 14px;
}

.deleteBtn {
  color: white;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  text-align: center;
  background-color: rgb(248, 114, 114);
  border: 1px solid rgb(248, 114, 114);
  border-radius: 4px;
  padding: 0px 16px;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  line-height: 14px;
}

.outlineBtn {
  color: black;
  background-color: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  text-align: center;
  padding: 0px 16px;
  font-size: 14px;
  font-weight: 600;
  height: 48px;
  line-height: 14px;
  margin-left: 30px;
}
