:root {
  --primary-color: #25c2a0;
  --primary-foreground-color: #002823;
  --primary-hover: #0b967d;
  --primary-active: #0d7865;
  --primary-disabled: #98f7dc;
  --primary-color-50: #f0fdf9;
  --primary-color-100: #cbfced;
  --primary-color-200: #98f7dc;
  --primary-color-500: #12ba99;
  --primary-color-700: #0d7865;
  --primary-color-950: #03302b;
  --secondary-color: #f4f4f5;
  /* --secondary-color: #27272a;  dark mode */
  --secondary-foreground-color: #18181b;
  /* --secondary-foreground-color: #fafafa; dark mode */
  --ring-offset-width: 2px;
  --ring-offset-color: hsl(0 0% 100%);
  /* --ring-offset-color: hsl(240 10 3.9);  dark mode*/
  --ring-color: hsl(240 5% 64.9%);
  /* --ring-color: hsl(240 4.9% 83.9%);  dark mode */
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.input {
  font-family: inherit;
  appearance: none;
  background-color: #fff;
  border-radius: 0.375rem;
  border-width: 1px;
  border-color: #ebedf0;
  border-style: solid;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  margin-top: 1px;
  outline: none;
  margin-bottom: 1rem;
}

.input:focus {
  outline: 2px solid hsl(0 0% 20%/ 0.2);
  outline-offset: 2px;
}

.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
