:root {
  --primary-color: #4f39f6;
  --primary-foreground-color: #f0f0ff;
  --primary-hover: #6b56ff;
  --primary-active: #3d2fe0;
  --primary-disabled: #cfc9ff;

  --primary-color-50: #f6f5ff;
  --primary-color-100: #e3e0ff;
  --primary-color-200: #cfc9ff;
  --primary-color-300: #a99fff;
  --primary-color-500: #6b56ff;
  --primary-color-600: #4f39f6;
  --primary-color-700: #3d2fe0;
  --primary-color-800: #2f25b8;
  --primary-color-900: #251e8e;
  --primary-color-950: #1a1665;

  --secondary-color: #f4f4f5;
  /* --secondary-color: #1e1b4b;  dark mode */

  --primary-text-color: #111827;
  /* --primary-text-color: #fafafa; dark mode */
  --primary-text-color-500: #6b6b8d;

  --ring-offset: 2px;
  --ring-offset-width: 2px;
  --ring-offset-color: rgba(79, 57, 246, 0.2); /* based on primary */
  /* --ring-offset-color: hsl(240 10 3.9);  dark mode */
  --ring-color: hsl(250, 85%, 82%);
  /* --ring-color: hsl(250, 40%, 90%);  dark mode */

  --border-color: #e5e7eb;
  --border-width: 1px;
  --border-radius: 0.25rem;

  --alert-color-success: #3cd0ad; /* cooler green to match purple tone */
  --alert-color-info: #5a8eff; /* cooler blue, friendlier with primary */
  --alert-color-warning: #f4c150; /* softened yellow to avoid clashing */
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
