.table {
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: rgb(107 114 128);
  border: 1px solid rgb(229, 231, 235);
}

.caption {
  background-color: white;
}

.tableHeadContainer {
  color: rgb(55 65 81);
  background-color: rgb(249 250 251);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}

.tableHead {
  padding: 12px 24px;
}

.tableData {
  padding: 0px 24px;
}

.tableRow {
  background-color: white;
  border-bottom: 1px solid rgb(229, 231, 235);
  border-left: 1px solid rgb(229, 231, 235);
  border-right: 1px solid rgb(229, 231, 235);
}

.icon {
  --s: 218 19% 23%;
  height: 1.25rem;
  width: 1.25rem;
  color: hsl(var(--s));
}
.icon:hover {
  --tw-scale: 1.15;
  transform: scale(var(--tw-scale));
}
