@import url('../common.module.css');

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem /* 14px */;
  line-height: 1.25rem /* 20px */;
  font-weight: 500;
  color: rgb(17 24 39);
}

@media (prefers-color-scheme: dark) {
  .label {
    color: rgb(209 213 219);
  }
}
