@import url('../common.module.css');

.btn {
  height: 1.5rem;
  width: 1.5rem;
  color: var(--primary-foreground-color);
}

.btn:hover {
  --tw-scale: 1.15;
  transform: scale(var(--tw-scale));
  color: var(--primary-hover);
}

.svg {
  height: 1.25rem;
  width: 1.25rem;
}
