.container {
  border: 1px solid rgb(229, 231, 235);
  border-radius: 4px;
}

.table {
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: rgb(107 114 128);
}

.tableHeadContainer {
  color: rgb(55 65 81);
  background-color: rgb(249 250 251);
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
}

.tableHead {
  padding: 12px 24px;
}

.tableData {
  padding: 0px 24px;
}

.tableDataItem {
  white-space: nowrap;
  padding: 12px 24px;
  font-size: 14px;
  line-height: 20px;
  color: rgb(107 114 128);
}

.tableRow {
  background-color: white;
  border-bottom: 1px solid rgb(229, 231, 235);
}

.tableRow:last-child {
  border-bottom: 0px solid white;
}

.caption {
  background-color: white;
}

.span {
  display: inline-flex;
  align-items: baseline;
}
