.rowContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.5rem;
}

.hint {
  font-size: 0.75rem;
  line-height: 0.5rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.input {
  flex: 1;
}

.add {
  height: 2rem;
}
