@import url(../../../../shared/common.module.css);

.h5 {
  letter-spacing: -0.025em;
  line-height: 1;
  font-weight: 500;
  font-size: 1.25rem;
}

.hint {
  font-size: 0.75rem;
  line-height: 1rem;
  margin: 5px 0 0 5px;
}

.formAction {
  display: flex;
  gap: 0.5rem;
}
