@import url('../common.module.css');

.badge {
  display: inline-block;
  padding: 0.25rem 0.56rem;
  border-radius: 0.375rem;
  color: white;
  font-size: 0.75rem;
  line-height: 0.75rem;
}

.info {
  background-color: var(--alert-color-info);
}

.success {
  background-color: var(--alert-color-success);
}

.warning {
  background-color: var(--alert-color-warning);
}
