.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.linkPrimaryContainer {
  display: flex;
  gap: 8px;
}

.idpEntityContainer {
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 20px 0;
}

.formControl {
  display: flex;
  flex-direction: column;
}

.h2 {
  font-weight: 700;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

:is(.h2) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.tableContainer {
  border-width: 1px;
  border-radius: 4px;
}

.table {
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

:is(.table .tableHead) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

:is(.tableHead) {
  --tw-bg-opacity: 1;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
}

.tableHead {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity));
}

.tableRow:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

.tableHeadScope {
  padding: 12px 24px 12px 24px;
}

.connectionListContainer {
  border-bottom-width: 1px;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.connectionListContainer:last-child {
  border-bottom-width: 0px;
}

.connectionListContainer:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity));
}

:is(.connectionListContainer) {
  --tw-border-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-border-opacity));
}

:is(.connectionListContainer) {
  --tw-bg-opacity: 1;
  background-color: rgb(31 41 55 / var(--tw-bg-opacity));
}

.connectionListTableData {
  white-space: nowrap;
  padding: 12px 24px 12px 24px;
  font-size: 14px;
  line-height: 20px;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

:is(.connectionListTableData0) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity));
}

.connectionTenantData {
  white-space: nowrap;
  padding: 12px 24px 12px 24px;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity));
}

:is(.connectionTenantData) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.badgeClass {
  margin-left: 8px;
  text-transform: uppercase;
}

.tableData {
  padding: 0 24px 0 24px;
}

.spanIcon {
  display: inline-flex;
  align-items: baseline;
}

.icon:hover {
  --tw-text-opacity: 1;
  color: rgb(74 222 128 / var(--tw-text-opacity));
}

@media (min-width: 768px) {
  .h2 {
    font-size: 20px;
    line-height: 28px;
  }
}
