.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.formControl {
  display: flex;
  flex-direction: column;
}

.tableContainer {
  border-width: 1px;
  border-radius: 4px;
}

.table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
  color: rgb(107 114 128);
  border-bottom-width: 1px;
  border-color: rgb(209 213 219);
}

.tableCaption {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: start;
  padding: 0.75rem;
  background-color: rgb(243 244 246);
  color: rgb(17 24 39);
  border-bottom: 1px solid rgb(209 213 219);
}

.tableCaption {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: start;
  padding: 0.75rem;
  background-color: rgb(243 244 246);
  color: rgb(17 24 39);
  border-bottom: 1px solid rgb(209 213 219);
}

.th,
.td {
  padding: 0.75rem 1.5rem;
}

.thead {
  background-color: rgb(249 250 251);
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  color: rgb(55 65 81);
}

.connectionListContainer {
  border-bottom-width: 1px;
  background-color: rgb(255 255 255);
}

.connectionListContainer:last-child {
  border-bottom-width: 0px;
}

.connectionListContainer:hover {
  background-color: rgb(249 250 251);
}

.badgeClass {
  margin-left: 8px;
  text-transform: uppercase;
}

.tableData {
  padding: 0 24px 0 24px;
  color: rgb(156 163 175);
}

.spanIcon {
  display: inline-flex;
  align-items: baseline;
}

.icon:hover {
  color: rgb(74 222 128);
}
