.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 42px;
}

.h5 {
  letter-spacing: -0.025em;
  line-height: 1;
  font-weight: 500;
  font-size: 1.25rem;
}

.ctoa {
  display: flex;
  justify-content: flex-end;
}

.listView {
  display: flex;
  flex-direction: column;
}
