@import url('../common.module.css');

.container {
  display: flex;
  flex-direction: column;
}

.input,
.textarea {
  height: 3rem;
  padding: 0 1rem;
  font-size: 1rem;
  line-height: 1.5rem;
  border: var(--border-width) solid var(--border-color);
  background-color: #fff;
  border-radius: var(--border-radius);
}

.textarea {
  height: 6rem;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
  line-height: 2;
}

.input:focus,
.textarea:focus {
  outline: var(--ring-offset-width) solid var(--ring-offset-color);
  outline-offset: var(--ring-offset);
}

.input:disabled,
.textarea:disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: var(--secondary-color);
  border: 1px solid transparent;
}

.label {
  display: block;
  font-weight: 500;
  color: var(--primary-text-color);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.labelWithCopy {
  display: flex;
  justify-content: space-between;
}
