.heading {
  margin: 20px 0px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  color: rgb(55 65 81);
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  width: 100%;
  border: 1px solid rgba(24, 26, 42, 0.2);
  padding: 8px 16px;
  height: 48px;
  line-height: 24px;
  border-radius: 4px;
  flex-shrink: 1;
}

.checkboxInput {
  height: 16px;
  width: 16px;
  border-radius: 4px;
  border: 1px solid rgb(209 213 219);
  background-color: rgb(243 244 246);
  color: rgb(37 99 235);
}

.label {
  padding: 8px 4px;
}

.checkboxLabel {
  margin-left: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(17 24 39);
}

.labelText {
  font-size: 14px;
  color: rgb(24, 26, 42);
}

.container {
  border-radius: 4px;
  border: 1px solid rgb(229 231 235);
  background-color: white;
  padding: 24px;
}

.formDiv {
  display: flex;
  flex-direction: column;
}

.fieldsDiv {
  width: 100%;
  margin-top: 12px;
  margin-bottom: 12px;
}

.checkboxFieldsDiv {
  padding: 8px 0px;
  width: 100%;
  margin-top: 12px;
}

.btn {
  color: white;
  background-color: rgb(37, 194, 160);
  border: 1px solid rgb(37, 194, 160);
  padding: 0px 16px;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  line-height: 14px;
  min-height: 48px;
  border-radius: 4px;
}
